<?xml version="1.0"?>
<ruleset name="WDOD WooCommerce Connector" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">
	<description>WordPress Coding Standards + PHP 7.4 compatibility for the WDOD WooCommerce Connector plugin.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>
	<arg name="cache" value=".phpcs-cache"/>

	<!-- PHP version compatibility. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP"/>

	<!-- WordPress Coding Standards. -->
	<config name="minimum_wp_version" value="6.4"/>
	<rule ref="WordPress"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wdod-woo-connector"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="wdod_woo_connector"/>
				<element value="WDOD\WooConnector"/>
				<element value="WDOD_WOO_CONNECTOR"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<element value="manage_woocommerce"/>
			</property>
		</properties>
	</rule>
</ruleset>
